@media only screen and (max-width: 767px) {
    .ptb-100 {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .pt-100 {
        padding-top: 50px;
    }
    .pb-100 {
        padding-bottom: 50px;
    }
    .pb-70 {
        padding-bottom: 20px;
    }
    .section-title-warp {
        text-align: center;
        margin-bottom: 35px;
        
        h2 {
            font-size: 25px;
        }
    }
    .section-warp-btn {
        display: none;
    }
    .top-header-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .top-header-information {
        text-align: center;
    }
    .top-header-optional {
        text-align: center;
        margin-top: 15px;

        .languages-list {
            position: relative;
            z-index: 9999;
        }
    }
    .middle-header-area {
        border-bottom: 1px solid #eeeeee;
    }
    .middle-header {
        h1 {
            display: none;
        }
    }
    .middle-header-content {
        text-align: center;

        li {
            padding-left: 0;
            margin-right: 10px;
            text-align: center;
            font-size: 12px;

            i {
                position: relative;
                top: unset;
                transform: unset;
                display: block;
            }
            span {
                font-size: 16px;
            }
        }
    }
    .mean-container {
        a {
            &.meanmenu-reveal {
                padding: 6px 0 0 0;

                span {
                    display: block;
                    background: #000;
                    height: 4px;
                    margin-top: -5px;
                    border-radius: 3px;
                    position: relative;
                    top: 8px;
                }
            }
        }
        .mean-bar {
            background-color: unset;
            border-bottom: none;
        }
        .mean-nav {
            margin-top: 55px;
        }
    }
    .others-option-for-responsive {
        .dot-menu {
            top: -35px;
        }
        .container {
            .container {
                right: 20px;
                max-width: 230px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 5px;
                text-align: center;
            }  
        }   
        .option-inner {
            .others-options {
                margin-left: 0;

                .option-item {
                    margin-bottom: 10px;
                    margin-right: 0;

                    &:last-child {
                        margin-bottom: 0;
                    }
                    .language-switcher {
                        .dropdown-menu {
                            margin-top: 10px;
                        }
                    }
                }
                &.d-flex {
                    display: block !important;
                }
            }
        }
    } 
    .main-slides-item {
        padding-top: 95px;
        padding-bottom: 170px;
        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: #ffffff;
            z-index: -1;
            opacity: .70;
        }
    }
    .main-slides-content {
        text-align: center;

        h1 {
            font-size: 35px;
        }
        .slides-btn {
            margin-top: 20px;

            .checkup-content {
                margin-left: 0;
                margin-top: 40px;
            }
        }
    }
    .home-slides {
        &.owl-theme {
            .owl-nav {
                opacity: 1;
                visibility: visible;
    
                [class*=owl-] {
                    top: unset;
                    transform: unset;
                    bottom: 30px;
                }
            }
        }
    }
    .features-area {
        margin-top: 0;
        padding-top: 50px;
    }
    .single-features {
        text-align: center;
        padding: 35px 25px;

        .content {
            padding-left: 0;

            .icon {
                position: relative;
                top: 0;
                margin-bottom: 20px;

                i {
                    line-height: 1;
                }
            }
            h3 {
                font-size: 22px;
                margin-bottom: 10px;
            }
            p {
                font-size: 15px;
            }
        }
    }
    .single-services {
        .services-content {
            padding: 30px 25px;

            h3 {
                font-size: 22px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    .overview-area {
        padding-top: 50px;
    }
    .overview-content {
        margin-top: 0;

        h3 {
            font-size: 25px;
            margin-bottom: 10px;
        }
        p {
            font-size: 16px;
        }
    }
    .overview-image {
        text-align: center;
        margin-top: 30px;
    }
    .appointment-overview-area {
        margin-top: 0;
        padding-top: 50px;
    }
    .appointment-overview-contact {
        margin-bottom: 30px;

        .appointment-info {
            position: relative;
            padding: 35px 20px;

            li {
                font-size: 15px;

                span {
                    font-size: 20px;
                }
            }
            p {
                font-size: 14px;
            }
        }
    }
    .appointment-overview-box {
        border-top: 1px solid #06a3da;

        .content {
            h4 {
                font-size: 22px;
            }
            .box-image {
                margin-bottom: 30px;
            }
        }
        .make-appointment-content {
            h4 {
                font-size: 20px;
            }
        }
    }
    .about-content {
        h3 {
            font-size: 25px;
        }
    }
    .about-image {
        text-align: center;
        margin-top: 30px;
    }
    .single-core-features {
        text-align: center;

        h3 {
            font-size: 22px;
        }
        p {
            font-size: 15px;
        }
    }
    .single-doctor {
        .doctor-content {
            padding: 25px 20px;

            h3 {
                font-size: 22px;
            }
        }
    }
    .single-review-item {
        padding: 55px 20px 55px;

        p {
            font-size: 15px;
        }
        .review-info {
            margin-top: 30px;

            h3 {
                font-size: 18px;
            }
            img {
                top: -10px;
            }
        }
    }
    .review-slides {
        &.owl-theme {
            .owl-nav.disabled+.owl-dots {
                margin-top: 10px;
            }
        }
    }
    .single-blog {
        .blog-content {
            padding: 20px;

            h3 {
                font-size: 22px;
            }
        }
    }
    .main-slides-content {
        .slides-btn {
            .optional-btn {
                margin-left: 0;
                margin-top: 30px;
            }
        }
    }
    .section-title {
        h2 {
            font-size: 25px;
        }
        p {
            font-size: 15px;
        }
    }
    .single-services-box {
        padding: 20px;

        h3 {
            font-size: 22px;
        }
    }
    .about-image {
        .about-inner-box {
            display: none;
        }
    }
    .single-gallery {
        .content {
            padding: 25px;
        }
    }
    .gallery-area {
        &.bg-091e3e {
            padding-bottom: 115px;
        }
    }
    .appointment-inner-box {
        padding: 50px 10px;

        .appointment-form {
            h4 {
                font-size: 18px;
            }
        }
    }
    .main-banner-item {
        padding-top: 50px;

        .container-fluid {
            padding-right: 15px;
        }
    }
    .main-banner-content {
        text-align: center;
        margin: auto;

        h1 {
            font-size: 30px;
        }
        .banner-btn {
            margin-top: 20px;

            .optional-btn {
                margin-left: 0;
                margin-top: 25px;
            }
        }
    }
    .main-banner-image {
        margin-top: 30px;

        img {
            border-radius: 0;
        }
    }
    .single-services-item {
        .services-content {
            padding: 35px 15px;

            h3 {
                font-size: 22px;
            }
        }
    }
    .appointment-form {
        h4 {
            font-size: 20px;
        }
    }
    .page-banner-area {
        padding-top: 80px;
        padding-bottom: 90px;
    }
    .page-banner-content {
        h2 {
            font-size: 35px;
        }
        .pages-list {
            li {
                font-size: 15px;
            }
        }
    }
    .single-fun-fact {
        h3 {
            font-size: 35px;
        }
    }
    .dentist-details-content {
        margin-top: 30px;

        h3 {
            font-size: 25px;
        }
    }
    .widget-area {
        margin-top: 30px;
    }
    .services-details-list {
        li {
            i {
                top: 0;
            }
        }
    }
    .pagination-area {
        .page-numbers {
            width: 25px;
            height: 25px;
            line-height: 25px;
            margin: 0 2px;
            font-size: 15px;
        }
    }
    .login-form {
        padding: 25px;

        form {
            .lost-your-password {
                text-align: left;
                margin-top: 5px;
            }
        }
    }
    .register-form {
        padding: 25px;
    }
    .error-content {
        h3 {
            font-size: 25px;
        }
    }
    .coming-soon-content {
        padding: 30px 25px;

        #timer {
            margin-top: 20px;

            div {
                width: 100px;
                height: 105px;
                margin-left: 5px;
                margin-right: 5px;
                font-size: 20px;
                margin-top: 10px;
            }
        }
        h2 {
            font-size: 22px;
        }
    }
    .searchmodal {
        .modal-content {
            padding: 30px;
        }
    }

    // New Three Demo Responsive

    // Dental Tourism Responsive CSS
    .dental-tourism-top-area {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 540px;
        }
    }
    .top-dental-tourism-information {
        li {
            margin-bottom: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
        &.with-left {
            margin-left: 0;
        }
    }
    .top-dental-tourism-optional {
        text-align: start;
        margin-top: 10px;

        li {
            a {
                i {
                    top: 0;
                }
            }
        }
    }
    .dental-tourism-banner-area {
        padding-top: 55px;
        padding-bottom: 55px;
        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background-color: #ffffff;
            left: 0;
            right: 0;
            top: 0;
            z-index: -1;
            opacity: .77;
        }
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 540px;
        }
    }
    .dental-tourism-banner-content {
        h1 {
            font-size: 25px;
        }
    }
    .single-dental-tourism-features {
        .content {
            padding-left: 0;

            .icon-image {
                position: relative;
                margin-bottom: 20px;
                height: 70px;
                width: 70px;
                line-height: 70px;

                img {
                    max-width: 30px;
                }
                .number {
                    display: none;
                }
            }
            h3 {
                font-size: 22px;
            }
        }
    }
    .pb-75 {
        padding-bottom: 25px;
    }
    .dental-tourism-about-content {
        padding-left: 0;
        margin-top: 30px;

        h3 {
            font-size: 24px;
        }
    }
    .dental-tourism-services-area {
        .container-fluid {
            left: 0;
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 540px;
        }
    }
    .dental-tourism-choose-content {
        h3 {
            font-size: 24px;
        }
        .choose-inner-content {
            h4 {
                font-size: 18px;
            }
        }
    }
    .dental-tourism-choose-image {
        text-align: center;
        margin-top: 30px;
    }
    .dental-tourism-appointment-form {
        h4 {
            font-size: 22px;
        }
    }
    .dental-tourism-dentist-card {
        .dentist-content {
            h3 {
                font-size: 22px;
            }
        }
    }
    .dental-tourism-tourists-content {
        h3 {
            font-size: 24px;
        }
    }
    .dental-tourism-tourists-image {
        margin-top: 30px;

        .tourists-image {
            .content {
                h3 {
                    font-size: 18px;
                    font-weight: 500;
                    font-family: "Heebo", sans-serif;
                    color: #ffffff;
                }
            }
        }
    }
    .dental-tourism-review-card {
        padding: 20px;

        .review-info {
            padding-left: 65px;

            img {
                max-width: 50px;
            }
            h3 {
                font-size: 18px;
            }
        }
        .icon-quote {
            right: 25px;
            bottom: 15px;
        }
    }
    .dental-tourism-blog-card {
        .blog-content {
            padding-left: 0;

            .entry-meta {
                li {
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
            h3 {
                font-size: 22px;
            }
        }
    }
    .dental-tourism-footer-widget {
        h3 {
            font-size: 22px;;
        }
    }
    .dental-tourism-copyright-area {
        margin-top: 25px;
    }

    // Skin Care Responsive CSS
    .top-area {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 540px;
        }
    }
    .top-information-wrap {
        li {
            margin-bottom: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
        &.with-left {
            margin-left: 0;
        }
    }
    .top-optional-wrap {
        text-align: start;
        margin-top: 10px;

        li {
            a {
                i {
                    top: 0;
                }
            }
        }
    }
    .skin-care-banner-area {
        padding-top: 310px;

        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 540px;
        }
    }
    .skin-care-banner-content {
        h1 {
            font-size: 25px;
        }
    }
    .skin-care-banner-shape {
        display: none;
    }
    .skin-care-banner-image {
        text-align: center;
        margin-top: 30px;
    }
    .skin-care-features-card {
        padding: 20px;

        .features-title {
            padding-left: 0;
            padding-top: 0;
            margin-bottom: 15px;

            .icon-image {
                position: relative;
                margin-bottom: 25px;
            }
            h3 {
                font-size: 20px;
            }
        }
    }
    .skin-care-about-image {
        .skin-care-fun-fact {
            left: 10px;
            right: 10px;
            bottom: 10px;
            padding: 20px;

            .fun-fact {
                h3 {
                    font-size: 35px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .skin-care-about-content {
        padding-left: 0;
        margin-top: 30px;

        h3 {
            font-size: 24px;
        }
        .about-btn-with-info {
            li {
                margin-bottom: 25px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .skin-care-services-card {
        .services-image {
            .icon {
                i {
                    height: 80px;
                    width: 80px;
                    line-height: 80px;
                    font-size: 35px;
                }
            }
        }
    }
    .skin-care-dry-content {
        h3 {
            font-size: 25px;
        }
        .dry-list {
            li {
                img {
                    max-width: 40px;
                }
            }  
        }      
    }
    .skin-care-dry-image {
        text-align: center;
        margin-top: 30px;
    }
    .skin-care-appointment-image {
        height: 450px;
    }
    .skin-care-appointment-form {
        padding: 50px 20px;

        h4 {
            font-size: 20px;
        }
    }
    .skin-care-review-card {
        padding: 20px;

        .review-info {
            padding-left: 65px;

            img {
                max-width: 50px;
            }
            h3 {
                font-size: 18px;
            }
        }
        .icon-quote {
            right: 25px;
            bottom: 15px;
        }
    }
    .skin-care-blog-card {
        .blog-content {
            padding-left: 0;

            .entry-meta {
                li {
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
        }
    }
    .skin-care-partner-inner-box {
        padding: 50px 10px;
    }
    .skin-care-footer-area {
        padding-top: 170px;
    }
    .skin-care-copyright-area {
        margin-top: 25px;
    }

    // Skin Care Responsive CSS
    .eye-care-banner-area {
        padding-top: 310px;

        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 540px;
        }
    }
    .eye-care-banner-content {
        padding: 20px;
        margin-right: 0;

        h1 {
            font-size: 25px;
            font-family: "Heebo", sans-serif;
            color: #ffffff;
            margin-bottom: 20px;
        }
        .banner-btn-with-info {
            li {
                &.banner-btn {
                    .default-btn {
                        padding: 15px;
                    }
                }
                img {
                    max-width: 35px;
                }
                &.title {
                    display: none;
                }
            }
        }
    }
    .eye-care-features-card {
        &::before {
            display: none;
        }
    }
    .eye-care-about-content {
        padding-left: 0;
        margin-top: 30px;

        h3 {
            font-size: 25px;
        }
    }
    .eye-care-services-card {
        padding: 20px;

        .icon {
            i {
                height: 70px;
                width: 70px;
                line-height: 70px;
                font-size: 38px;
            }
        }
    }
    .eye-care-services-slides {
        &.owl-theme {
            .owl-nav {
                display: none;
            }
        }
    }
    .eye-care-solutions-image {
        text-align: center;
        margin-top: 30px;
    }
    .eye-care-review-slides {
        margin-left: 0;
    }
    .eye-care-testimonials-area {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 540px;
        }
    }
    .eye-care-testimonials-image {
        height: 450px;
        margin-top: 50px;
    }
    .eye-care-testimonials-content-box {
        padding-top: 50px;
        padding-bottom: 50px;

        .content {
            margin-left: 0;

            h3 {
                font-size: 24px;
            }
        }
    }
    .eye-care-review-card {
        padding: 30px 20px;

        .review-info {
            padding-left: 65px;

            img {
                max-width: 50px;
            }
            h3 {
                font-size: 18px;
            }
        }
        .icon-quote {
            display: none;
        }
    }
    .eye-care-review-slides {
        &.owl-theme {
            .owl-nav.disabled + .owl-dots {
                right: 20px;
                bottom: 20px;
            }
        }
    }
    .eye-care-treatment-content {
        padding-left: 0;
        margin-top: 30px;

        h3 {
            font-size: 25px;
        }
    }
    .eye-care-blog-card {
        padding: 20px;
    }
    .newsletter-inner-box {
        padding: 50px 20px;

        .newsletter-content {
            margin-bottom: 30px;
        }
    }
    .eye-care-copyright-area {
        margin-top: 25px;
    }
    
    .eye-care-footer-area {
        padding-top: 145px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .login-form form {
        .lost-your-password {
            text-align: right;
            margin-top: 0;
        }
    }
    .main-slides-content {
        .slides-btn {
            .checkup-content {
                margin-left: 15px;
                margin-top: 0;
            }
        }
    }
    .home-slides {
        &.owl-theme {
            .owl-nav {
                [class*=owl-] {
                    bottom: 80px;
                }
            }
        }
    }

    // New Three Demo Responsive
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .ptb-100 {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .pt-100 {
        padding-top: 70px;
    }
    .pb-100 {
        padding-bottom: 70px;
    }
    .pb-70 {
        padding-bottom: 40px;
    }
    .section-title-warp {
        text-align: center;
        margin-bottom: 35px;
        
        h2 {
            font-size: 35px;
        }
    }
    .section-warp-btn {
        display: none;
    }
    .top-header-area {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .top-header-information {
        text-align: center;
    }
    .top-header-optional {
        text-align: center;
        margin-top: 15px;
    }
    .middle-header-area {
        border-bottom: 1px solid #eeeeee;
    }
    .middle-header {
        h1 {
            display: none;
        }
    }
    .middle-header-content {
        text-align: center;

        li {
            padding-left: 0;
            text-align: center;
            font-size: 15px;

            i {
                position: relative;
                top: unset;
                transform: unset;
                display: block;
            }
            span {
                font-size: 20px;
            }
        }
    }
    .mean-container {
        a {
            &.meanmenu-reveal {
                padding: 6px 0 0 0;

                span {
                    display: block;
                    background: #000;
                    height: 4px;
                    margin-top: -5px;
                    border-radius: 3px;
                    position: relative;
                    top: 8px;
                }
            }
        }
        .mean-bar {
            background-color: unset;
            border-bottom: none;
        }
        .mean-nav {
            margin-top: 55px;
        }
    }
    .others-option-for-responsive {
        .dot-menu {
            top: -35px;
        }
        .container {
            .container {
                right: 20px;
                max-width: 230px;
                padding-top: 10px;
                padding-bottom: 10px;
                border-radius: 5px;
                text-align: center;
            }  
        }   
        .option-inner {
            .others-options {
                margin-left: 0;

                .option-item {
                    margin-bottom: 10px;
                    margin-right: 0;

                    &:last-child {
                        margin-bottom: 0;
                    }
                    .language-switcher {
                        .dropdown-menu {
                            margin-top: 10px;
                        }
                    }
                }
                &.d-flex {
                    display: block !important;
                }
            }
        }
    } 
    .main-slides-item {
        padding-top: 95px;
        padding-bottom: 170px;
        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
            background-color: #ffffff;
            z-index: -1;
            opacity: .70;
        }
    }
    .home-slides {
        &.owl-theme {
            .owl-nav {
                opacity: 1;
                visibility: visible;
    
                [class*=owl-] {
                    top: unset;
                    transform: unset;
                    bottom: 30px;
                }
            }
        }
    }
    .features-area {
        margin-top: 0;
        padding-top: 50px;
    }
    .single-features {
        text-align: center;
        padding: 35px 25px;

        .content {
            padding-left: 0;

            .icon {
                position: relative;
                top: 0;
                margin-bottom: 20px;

                i {
                    line-height: 1;
                }
            }
        }
    }
    .overview-area {
        padding-top: 70px;
    }
    .overview-content {
        margin-top: 0;
    }
    .overview-image {
        text-align: center;
        margin-top: 30px;
    }
    .appointment-overview-area {
        margin-top: 0;
        padding-top: 70px;
    }
    .appointment-overview-contact {
        margin-bottom: 30px;
    }
    .appointment-overview-box {
        border-top: 1px solid #06a3da;

        .content {
            .box-image {
                margin-bottom: 30px;
            }
        }
    }
    .about-image {
        text-align: center;
        margin-top: 30px;
    }
    .single-core-features {
        text-align: center;

        h3 {
            font-size: 22px;
        }
        p {
            font-size: 15px;
        }
    }
    .single-doctor {
        .doctor-content {
            padding: 25px 20px;

            h3 {
                font-size: 22px;
            }
        }
    }
    .single-review-item {
        padding: 55px 20px 55px;

        p {
            font-size: 15px;
        }
        .review-info {
            margin-top: 30px;

            h3 {
                font-size: 18px;
            }
            img {
                top: -10px;
            }
        }
    }
    .review-slides {
        &.owl-theme {
            .owl-nav.disabled+.owl-dots {
                margin-top: 30px;
            }
        }
    }
    .single-blog {
        .blog-content {
            padding: 20px;

            h3 {
                font-size: 22px;
            }
        }
    }
    .about-image {
        .about-inner-box {
            right: 35px;
        }
    }
    .gallery-area {
        &.bg-091e3e {
            padding-bottom: 120px;
        }
    }
    .single-features-box {
        padding: 20px;

        h3 {
            font-size: 20px;
        }
    }
    .main-banner-item {
        padding-top: 80px;

        .container-fluid {
            padding-right: 15px;
        }
    }
    .main-banner-content {
        text-align: center;
        margin: auto;
    }
    .main-banner-image {
        margin-top: 50px;

        img {
            border-radius: 0;
        }
    }
    .widget-area {
        margin-top: 30px;
    }

    // New Three Demo Responsive

    // Dental Tourism Responsive CSS
    .dental-tourism-top-area {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .top-dental-tourism-information {
        text-align: center;

        li {
            margin-bottom: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
        &.with-left {
            margin-left: 0;
        }
    }
    .top-dental-tourism-optional {
        text-align: center;
        margin-top: 10px;

        li {
            a {
                i {
                    top: 0;
                }
            }
        }
    }
    .dental-tourism-banner-area {
        padding-top: 55px;
        padding-bottom: 55px;
        position: relative;
        z-index: 1;

        &::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            background-color: #ffffff;
            left: 0;
            right: 0;
            top: 0;
            z-index: -1;
            opacity: .77;
        }
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .dental-tourism-banner-content {
        h1 {
            font-size: 45px;
        }
    }
    .single-dental-tourism-features {
        .content {
            padding-left: 0;

            .icon-image {
                position: relative;
                margin-bottom: 20px;
                height: 70px;
                width: 70px;
                line-height: 70px;

                img {
                    max-width: 30px;
                }
                .number {
                    display: none;
                }
            }
            h3 {
                font-size: 22px;
            }
        }
    }
    .pb-75 {
        padding-bottom: 45px;
    }
    .dental-tourism-about-image {
        img {
            width: 100%;
        }
    }
    .dental-tourism-about-content {
        padding-left: 0;
        margin-top: 30px;

        h3 {
            font-size: 24px;
        }
    }
    .dental-tourism-services-area {
        .container-fluid {
            left: 0;
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .dental-tourism-choose-content {
        h3 {
            font-size: 24px;
        }
        .choose-inner-content {
            h4 {
                font-size: 18px;
            }
        }
    }
    .dental-tourism-choose-image {
        text-align: center;
        margin-top: 30px;
    }
    .dental-tourism-appointment-form {
        h4 {
            font-size: 22px;
        }
    }
    .dental-tourism-dentist-card {
        .dentist-content {
            h3 {
                font-size: 22px;
            }
        }
    }
    .dental-tourism-tourists-content {
        h3 {
            font-size: 24px;
        }
    }
    .dental-tourism-tourists-image {
        margin-top: 30px;

        .tourists-image {
            .content {
                h3 {
                    font-size: 18px;
                    font-weight: 500;
                    font-family: "Heebo", sans-serif;
                    color: #ffffff;
                }
            }
        }
    }
    .dental-tourism-review-card {
        padding: 20px;

        .review-info {
            padding-left: 65px;

            img {
                max-width: 50px;
            }
            h3 {
                font-size: 18px;
            }
        }
        .icon-quote {
            right: 25px;
            bottom: 15px;
        }
    }
    .dental-tourism-blog-card {
        .blog-content {
            padding-left: 0;

            .entry-meta {
                li {
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
            h3 {
                font-size: 22px;
            }
        }
    }
    .dental-tourism-footer-widget {
        h3 {
            font-size: 22px;;
        }
    }
    .dental-tourism-copyright-area {
        margin-top: 25px;
    }

    // Skin Care Responsive CSS
    .top-area {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .top-information-wrap {
        text-align: center;

        li {
            margin-bottom: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
        &.with-left {
            margin-left: 0;
        }
    }
    .top-optional-wrap {
        text-align: center;
        margin-top: 10px;

        li {
            a {
                i {
                    top: 0;
                }
            }
        }
    }
    .skin-care-banner-area {
        padding-top: 250px;

        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .skin-care-banner-content {
        h1 {
            font-size: 50px;
        }
    }
    .skin-care-banner-shape {
        display: none;
    }
    .skin-care-banner-image {
        text-align: center;
        margin-top: 30px;
    }
    .skin-care-features-card {
        padding: 20px;

        .features-title {
            padding-left: 0;
            padding-top: 0;
            margin-bottom: 15px;

            .icon-image {
                position: relative;
                margin-bottom: 25px;
            }
            h3 {
                font-size: 20px;
            }
        }
    }
    .skin-care-about-image {
        .skin-care-fun-fact {
            left: 10px;
            right: 10px;
            bottom: 10px;
            padding: 20px;

            .fun-fact {
                h3 {
                    font-size: 35px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
        img {
            width: 100%;
        }
    }
    .skin-care-about-content {
        padding-left: 0;
        margin-top: 30px;

        h3 {
            font-size: 24px;
        }
    }
    .skin-care-services-card {
        .services-image {
            .icon {
                i {
                    height: 80px;
                    width: 80px;
                    line-height: 80px;
                    font-size: 35px;
                }
            }
        }
    }
    .skin-care-dry-content {
        h3 {
            font-size: 25px;
        }
        .dry-list {
            li {
                img {
                    max-width: 40px;
                }
            }  
        }      
    }
    .skin-care-dry-image {
        text-align: center;
        margin-top: 30px;
    }
    .skin-care-appointment-image {
        height: 450px;
    }
    .skin-care-appointment-form {
        padding: 50px 20px;

        h4 {
            font-size: 20px;
        }
    }
    .skin-care-blog-card {
        .blog-content {
            padding-left: 0;

            .entry-meta {
                li {
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
        }
    }
    .skin-care-partner-inner-box {
        padding: 50px 10px;
    }
    .skin-care-footer-area {
        padding-top: 170px;
    }
    .skin-care-copyright-area {
        margin-top: 25px;
    }

    // Skin Care Responsive CSS
    .eye-care-banner-area {
        padding-top: 230px;

        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .eye-care-banner-content {
        padding: 20px;
        margin-right: 0;

        h1 {
            font-size: 50px;
            font-family: "Heebo", sans-serif;
            color: #ffffff;
            margin-bottom: 20px;
        }
        .banner-btn-with-info {
            li {
                &.banner-btn {
                    .default-btn {
                        padding: 15px;
                    }
                }
                img {
                    max-width: 35px;
                }
                &.title {
                    display: none;
                }
            }
        }
    }
    .eye-care-features-card {
        &::before {
            display: none;
        }
    }
    .eye-care-about-content {
        padding-left: 0;
        margin-top: 30px;

        h3 {
            font-size: 25px;
        }
    }
    .eye-care-services-card {
        padding: 20px;

        .icon {
            i {
                height: 70px;
                width: 70px;
                line-height: 70px;
                font-size: 38px;
            }
        }
    }
    .eye-care-services-slides {
        &.owl-theme {
            .owl-nav {
                display: none;
            }
        }
    }
    .eye-care-solutions-image {
        text-align: center;
        margin-top: 30px;
    }
    .eye-care-review-slides {
        margin-left: 0;
    }
    .eye-care-testimonials-area {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .eye-care-testimonials-image {
        height: 450px;
        margin-top: 50px;
    }
    .eye-care-testimonials-content-box {
        padding-top: 50px;
        padding-bottom: 50px;

        .content {
            margin-left: 0;

            h3 {
                font-size: 24px;
            }
        }
    }
    .eye-care-review-card {
        padding: 30px 20px;

        .review-info {
            padding-left: 65px;

            img {
                max-width: 50px;
            }
            h3 {
                font-size: 18px;
            }
        }
        .icon-quote {
            display: none;
        }
    }
    .eye-care-review-slides {
        &.owl-theme {
            .owl-nav.disabled + .owl-dots {
                right: 20px;
                bottom: 20px;
            }
        }
    }
    .eye-care-treatment-content {
        padding-left: 0;
        margin-top: 30px;

        h3 {
            font-size: 25px;
        }
    }
    .eye-care-blog-card {
        padding: 20px;
    }
    .newsletter-inner-box {
        padding: 50px 20px;

        .newsletter-content {
            margin-bottom: 30px;
        }
    }
    .eye-care-footer-area {
        padding-top: 165px;
    }
    .eye-care-copyright-area {
        margin-top: 25px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .top-header-information {
        li {
            font-size: 14px;
            margin-right: 10px;
        }   
    } 
    .section-title-warp {
        h2 {
            font-size: 32px;
        }
    }
    .main-navbar {
        .navbar {
            .navbar-nav {
                .nav-item {
                    margin-left: 15px;
                    margin-right: 15px;

                    a {
                        font-size: 15px;
                    }
                }
            }
            .others-options {
                .option-item {
                    margin-right: 15px;

                    .navbar-btn {
                        .default-btn {
                            padding: 20px 25px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    .home-slides {
        &.owl-theme {
            .owl-nav {
                opacity: 1;
                visibility: visible;
    
                [class*=owl-] {
                    top: unset;
                    transform: unset;
                    bottom: 100px;
                }
            }
        }
    }
    .single-features {
        padding: 31px 25px;

        .content {
            padding-left: 65px;

            h3 {
                font-size: 20px;
            }
            p {
                font-size: 15px;
            }
            .icon {
                i {
                    font-size: 50px;
                }
            }
        }
    }
    .single-services {
        .services-content {
            padding: 35px 25px;

            p {
                font-size: 14px;
            }
        }
    }
    .appointment-overview-contact {
        &::before {
            height: 100%;
        }
        .appointment-info {
            padding: 12px;

            p {
                font-size: 14px;
            }
        }
    }
    .appointment-overview-box {
        .content {
            h4 {
                font-size: 20px;
                margin-bottom: 25px;
            }
        }
        .make-appointment-content {
            h4 {
                font-size: 20px;
                margin-bottom: 18px;
            }
        }
    }
    .single-core-features {
        padding: 20px;

        h3 {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
    .single-doctor {
        .doctor-content {
            padding: 25px;

            h3 {
                font-size: 20px;
            }
        }
    }
    .single-features-box {
        padding: 20px;

        h3 {
            font-size: 20px;
        }
    }
    .single-services-box {
        padding: 25px;
    }
    .main-banner-content {
        max-width: 470px;
        
        h1 {
            font-size: 38px;
        }
    }
    .single-services-item {
        .services-content {
            padding: 35px 15px;
        }   
    } 
    .services-details-list {
        li {
            i {
                top: 0;
            }
        }
    }

    // New Three Demo Responsive

    // Dental Tourism Responsive CSS
    .top-dental-tourism-information {
        &.with-left {
            margin-left: 115px;
        }
    }
    .dental-tourism-navbar {
        .main-navbar {
            .navbar {
                ul {
                    margin-left: 35px;
                }
                .navbar-brand {
                    &::before {
                        width: 185px;
                        height: 160px;
                        top: -102px;
                    }
                }
            }
        }
    }
    .dental-tourism-banner-content {
        h1 {
            font-size: 65px;
        }
    }
    .single-dental-tourism-features {
        .content {
            padding-left: 90px;

            .icon-image {
                height: 70px;
                width: 70px;
                line-height: 70px;

                img {
                    max-width: 30px;
                }
            }
            h3 {
                font-size: 22px;
            }
        }
    }
    .dental-tourism-services-area {
        .container-fluid {
            left: calc((100% - 950px)/2);
        }
    }
    .dental-tourism-blog-card {
        .blog-content {
            padding-left: 0;

            .entry-meta {
                li {
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
        }
    }
    .dental-tourism-footer-widget {
        h3 {
            font-size: 20px;
        }
        .share-link {
            li {
                display: inline-block;
                margin-right: 5px;

                span {
                    font-size: 15px;
                }
            }
        }
    }

    // Skin Care Responsive CSS
    .grin-care-navbar {
        .main-navbar {
            .navbar {
                padding: 10px;
                .navbar-nav {
                    .nav-item {
                        margin-left: 10px;
                        margin-right: 10px;
                    }
                }
                .others-options {
                    .option-item {
                        &::before {
                            right: -10px;
                        }
                        .navbar-btn {
                            .default-btn {
                                padding: 20px 15px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    .skin-care-banner-area {
        padding-top: 145px;
    }
    .skin-care-banner-content {
        h1 {
            font-size: 45px;
        }
    }
    .skin-care-features-card {
        padding: 20px;

        .features-title {
            padding-left: 75px;
            padding-top: 24px;
            margin-bottom: 35px;

            .icon-image {
                height: 60px;
                width: 60px;
                line-height: 60px;

                img {
                    max-width: 30px;
                }
            }
            h3 {
                font-size: 18px;
            }
        }
        p {
            font-size: 15px;
        }
    }
    .skin-care-about-image {
        .skin-care-fun-fact {
            left: 20px;
            right: 20px;
            bottom: 20px;
            padding: 25px;
        }
    }
    .skin-care-appointment-form {
        padding: 50px 10px;

        h4 {
            font-size: 35px;
        }
    }
    .skin-care-blog-card {
        .blog-content {
            padding-left: 0;

            .entry-meta {
                li {
                    font-size: 12px;
                    margin-right: 5px;
                }
            }
        }
    }
    .skin-care-footer-widget {
        h3 {
            font-size: 20px;
        }
        .share-link {
            li {
                display: inline-block;
                margin-right: 5px;

                span {
                    font-size: 15px;
                }
            }
        }
    }

    // Skin Care Responsive CSS
    .eye-care-banner-content {
        padding: 30px;

        h1 {
            font-size: 50px;
        }
        .banner-btn-with-info {
            li {
                &.banner-btn {
                    .default-btn {
                        padding: 15px;
                    }
                }
                img {
                    max-width: 35px;
                }
            }
        }
    }
    .eye-care-services-slides {
        &.owl-theme {
            .owl-nav {
                [class*=owl-] {
                    left: -30px;
    
                    &.owl-next {
                        left: auto;
                        right: -30px;
                    }
                }
            }
        }
    }
    .eye-care-testimonials-content-box {
        .content {
            margin-left: 0;

            h3 {
                font-size: 30px;
            }
        }
    }
    .eye-care-review-card {
        padding: 28px 20px;

        .icon-quote {
            right: 25px;
            top: 25px;
        }
    }
    .eye-care-review-slides {
        margin-left: -70px;

        &.owl-theme {
            .owl-nav.disabled + .owl-dots {
                right: 20px;
                bottom: 25px;
            }
        }
    }
    .eye-care-treatment-content {
        .treatment-inner-content {
            padding: 15px 15px 15px 55px;

            .number {
                height: 30px;
                width: 30px;
                line-height: 30px;
                font-size: 20px;
                left: 15px;
            }
        }
    }
    .eye-care-footer-widget {
        h3 {
            font-size: 20px;
        }
        .share-link {
            li {
                display: inline-block;
                margin-right: 5px;

                span {
                    font-size: 15px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    // New Three Demo Responsive

    // Dental Tourism Responsive CSS
    .top-dental-tourism-information {
        &.with-left {
            margin-left: 115px;
        }
    }
    .dental-tourism-navbar {
        .main-navbar {
            .navbar {
                ul {
                    margin-left: 35px;
                }
                .navbar-brand {
                    &::before {
                        width: 185px;
                        height: 160px;
                        top: -102px;
                    }
                }
            }
        }
    }
    .dental-tourism-banner-content {
        h1 {
            font-size: 65px;
        }
    }
    .single-dental-tourism-features {
        .content {
            padding-left: 90px;

            .icon-image {
                height: 70px;
                width: 70px;
                line-height: 70px;

                img {
                    max-width: 30px;
                }
            }
            h3 {
                font-size: 22px;
            }
        }
    }
    .dental-tourism-services-area {
        .container-fluid {
            left: calc((100% - 1135px)/2);
        }
    }
    .dental-tourism-footer-widget {
        h3 {
            font-size: 20px;
        }
        .share-link {
            li {
                display: inline-block;
                margin-right: 5px;

                span {
                    font-size: 15px;
                }
            }
        }
    }

    // Skin Care Responsive CSS
    .grin-care-navbar {
        .main-navbar {
            .navbar {
                padding: 10px;
                .navbar-nav {
                    .nav-item {
                        margin-left: 12px;
                        margin-right: 12px;
                    }
                }
                .others-options {
                    .option-item {
                        &::before {
                            right: -14px;
                        }
                        .navbar-btn {
                            .default-btn {
                                padding: 20px 15px;
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }
    .skin-care-banner-area {
        padding-top: 120px;
    }
    .skin-care-banner-content {
        h1 {
            font-size: 45px;
        }
    }
    .skin-care-features-card {
        padding: 20px;

        .features-title {
            padding-left: 75px;
            padding-top: 24px;
            margin-bottom: 35px;

            .icon-image {
                height: 60px;
                width: 60px;
                line-height: 60px;

                img {
                    max-width: 30px;
                }
            }
        }
    }
    .skin-care-about-image {
        .skin-care-fun-fact {
            left: 20px;
            right: 20px;
            bottom: 20px;
            padding: 25px;
        }
    }
    .skin-care-appointment-form {
        padding: 50px 10px;

        h4 {
            font-size: 35px;
        }
    }

    // Skin Care Responsive CSS
    .eye-care-banner-content {
        padding: 30px;

        h1 {
            font-size: 50px;
        }
        .banner-btn-with-info {
            li {
                &.banner-btn {
                    .default-btn {
                        padding: 15px;
                    }
                }
                img {
                    max-width: 35px;
                }
            }
        }
    }
    .eye-care-features-card {
        &::before {
            right: -15px;
        }
    }
    .eye-care-services-slides {
        &.owl-theme {
            .owl-nav {
                [class*=owl-] {
                    left: -30px;
    
                    &.owl-next {
                        left: auto;
                        right: -30px;
                    }
                }
            }
        }
    }
    .eye-care-testimonials-content-box {
        .content {
            margin-left: 0;

            h3 {
                font-size: 30px;
            }
        }
    }
    .eye-care-review-card {
        padding: 28px 20px;

        .icon-quote {
            right: 25px;
            top: 25px;
        }
    }
    .eye-care-review-slides {
        margin-left: -70px;
        
        &.owl-theme {
            .owl-nav.disabled + .owl-dots {
                right: 20px;
                bottom: 25px;
            }
        }
    }
    .eye-care-treatment-content {
        .treatment-inner-content {
            padding: 15px 15px 15px 55px;

            .number {
                height: 30px;
                width: 30px;
                line-height: 30px;
                font-size: 20px;
                left: 15px;
            }
        }
    }
    .eye-care-footer-widget {
        h3 {
            font-size: 20px;
        }
        .share-link {
            li {
                display: inline-block;
                margin-right: 5px;

                span {
                    font-size: 15px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1550px) {

    // New Three Demo Responsive

    // Dental Tourism Top Area CSS
    .dental-tourism-top-area {
        .container-fluid {
            padding: {
                left: 100px;
                right: 100px;
            };
        }
    }
    .top-area {
        .container-fluid {
            padding: {
                left: 100px;
                right: 100px;
            };
        }
    }

    // Dental Tourism Navbar Area CSS
    .dental-tourism-navbar {
        .main-navbar {
            .container-fluid {
                padding: {
                    left: 100px;
                    right: 100px;
                };
            }
        }
    }
    .grin-care-navbar {
        .main-navbar {
            .container-fluid {
                padding: {
                    left: 100px;
                    right: 100px;
                };
            }
        }
    }

    // Dental Tourism Banner Area CSS
    .dental-tourism-banner-area {
        padding: {
            top: 150px;
            bottom: 150px;
        };
        .container-fluid {
            padding: {
                left: 100px;
                right: 100px;
            };
        }
    }

    // Skin Care Banner Area CSS
    .skin-care-banner-area {
        .container-fluid {
            padding: {
                left: 100px;
                right: 0;
            };
        }
    }
    .skin-care-banner-content {
        padding-right: 0;
        max-width: 700px;
    }

    // Eye Care Banner Area CSS
    .eye-care-banner-area {
        .container-fluid {
            padding: {
                left: 100px;
                right: 0;
            };
        }
    }
    .eye-care-banner-content {
        h1 {
            font-size: 80px;
        }
    }
}